.song-container {
  width: 80%;
  display:flex;
  justify-content: space-around;
  align-items:center;
  min-height: 10%;
}

.song-img {
  flex: 1;
}

.song-attr {
  display:'flex';
  justify-content: 'center';
  flex: 3;
  align-items:'center';
}

